
@{
    var Date = DateConvert.HrBrasilia();
    ViewData["Title"] = "Escolha de Pagamento";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    double totalValue = 0;
    ma38InfluencerDiscount influencerDiscount = null;
    double influencerDiscountPercent = 0;
    if(ViewBag.InfluencerDiscount != null)
    {
        influencerDiscount = ViewBag.InfluencerDiscount;
        influencerDiscountPercent = Convert.ToDouble(influencerDiscount.ma38DiscountPercent);
    }
    List<ma18tripitemshoppingcart> tripitemshoppingcartList = ViewBag.tripItemShoppingCart;
}
@section menu{
    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li><a asp-controller="Home" asp-action="About">Sobre</a></li>
    <!--<li><a href="listings.html">Listings</a></li>-->
    <!--<li><a href="blog.html">Notícias</a></li>-->
    <li><a asp-controller="Home" asp-action="Contact">Contato</a></li>
}
@section home{
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="../../images/contact.jpg" data-speed="0.8"></div>
    <div class="home_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_content">
                        <div class="home_title">Pagamento</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section scripts{
    <script type="text/javascript" src="~/js/Payment/PaymentForm.js"></script>
    <script type="text/javascript" src="~/js/VisitorActions.js"></script>
    <script type="text/javascript">
        function submitButton() {
            var totalValue = parseFloat(document.getElementById("totalValueInput").value.replace(",", "."));
        var totalAPagar = 0;

        var creditCardPayment = document.getElementById("creditCardPayment").value;
        var transferencePayment = document.getElementById("transferencePayment").value;
        if (creditCardPayment) {
            totalAPagar += parseFloat(creditCardPayment.replace(",", "."));
        } else {
            creditCardPayment = "0";
        }
        if (transferencePayment) {
            totalAPagar += parseFloat(transferencePayment.replace(",", "."));
        } else {
            transferencePayment = "0";
        }

        if (totalAPagar == totalValue) {
            var url = '@Html.Raw(Url.Action("Index", "Purchase", new { creditCardPayment = "__creditCardPayment__", transferencePayment = "__transferencePayment__" }))';
            var inputDiscountCode = document.getElementById("inputDiscountCode");
            if (inputDiscountCode != null)
            {
                url = '@Html.Raw(Url.Action("Index", "Purchase", new { creditCardPayment = "__creditCardPayment__", transferencePayment = "__transferencePayment__", discountCode = "__discountCode__" }))';
                window.location.href = url.replace("__creditCardPayment__", parseFloat(creditCardPayment.replace(",", ".")))
                    .replace("__transferencePayment__", parseFloat(transferencePayment.replace(",", ".")))
                    .replace("__discountCode__", inputDiscountCode.value);
            }
            else
            {
                window.location.href = url.replace("__creditCardPayment__", parseFloat(creditCardPayment.replace(",", "."))).replace("__transferencePayment__", parseFloat(transferencePayment.replace(",", ".")));
            }
            
        } else {
            alert("Os valores devem estar ser equivalentes à R$" + totalValue.toLocaleString('pt-br', { minimumFractionDigits: 2 }));
        }
    }
    </script>
}

<div class="contact container_custom">
    <div class="container">
        @if (ViewBag.InfluencerDiscount == null)
        {
            <div id="discountDiv">
                @if (ViewData["E_MSG"] != null)
                {
                    <p>@ViewData["E_MSG"]</p>
                }
                <form asp-action="PaymentForm" asp-controller="ShoppingCart">
                    <a href="#" onclick="showDiscountInput(); event.preventDefault();">Insira o Cupom de desconto ></a>
                    <div id="divDiscountInput" style="display:none">
                        <input id="discountInput" name="discountCode" type="text" required />
                        <button type="submit">Inserir Código</button>
                    </div>
                </form>
            </div>
        }
        <div class="row m-4">
            <div class="col-md-8 mb-4">
                <h6>Escolha a forma de pagamento e o valor que deseja pagar nelas</h6>
                <div id="cardCreditCard" class="card cardCreditCard">

                    <div class="row-cols-2">
                        <div>
                            <label>Cartão de crédito</label><br />
                            R$: <input id="creditCardPayment" class="form-control money" type="text"  />
                        </div>
                        <div>
                            <label>Transferência Bancária</label><br />
                            R$: <input id="transferencePayment" class="form-control money" type="text"  />
                        </div>
                        @if (influencerDiscount != null)
                        {
                            <input id="inputDiscountCode" hidden value="@influencerDiscount.ma38DiscountCode" />
                        }
                    </div>
                    <a href="javascript:{}" class="btn btn-lg btn-success" onclick="return submitButton()"> <i class=""></i> Comprar </a>
                </div>
            </div>
            <div class="col-md-4 mb-4">

                <!-- Heading -->
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Seu Carrinho</span>
                    <span class="badge badge-secondary badge-pill">@tripitemshoppingcartList.Count()</span>
                </h4>

                <!-- Cart -->
                <ul class="list-group mb-3 z-depth-1">
                    @foreach (ma18tripitemshoppingcart tripitemshoppingcart in tripitemshoppingcartList)
                    {
                        double tripValue = 0;
                        @foreach (ma19SubTripItemShoppingCart subTripItemShoppingCart in tripitemshoppingcart.ma19SubTripItemShoppingCart)
                        {
                            @foreach (ma20ServiceItemShoppingCart serviceItemShoppingCart in subTripItemShoppingCart.ma20ServiceItemShoppingCart)
                            {
                                tripValue += serviceItemShoppingCart.ma20ServiceQuantity * serviceItemShoppingCart.ma11service.ma11Value;
                            }
                            double value = subTripItemShoppingCart.ma17SubtripValue.ma17value;
                            double totalDiscount = 0;
                            @if (subTripItemShoppingCart.ma14subtrip.ma14InfluencerDiscount)
                            {
                                totalDiscount += influencerDiscountPercent;
                            }
                            @if(subTripItemShoppingCart.ma14subtrip.ma14PartnerDiscountPercent > 0 && Date >= subTripItemShoppingCart.ma14subtrip.ma14InitialDiscountDate && Date <= subTripItemShoppingCart.ma14subtrip.ma14FinalDiscountDate)
                            {
                                totalDiscount += Convert.ToDouble(subTripItemShoppingCart.ma14subtrip.ma14PartnerDiscountPercent);
                            }
                            value = value - (value * (totalDiscount / 100));
                            @if (subTripItemShoppingCart.ma17SubtripValue.ma17type == "0")
                            {
                                foreach (ma29TouristShoppingCart ma29TouristShoppingCart in tripitemshoppingcart.ma29TouristShoppingCart)
                                {
                                    tripValue += value - (value * (Convert.ToDouble(ma29TouristShoppingCart.ma27AgeDiscount.ma27DiscountPercent) / 100));
                                }
                            }
                            else
                            {
                                tripValue += value;
                            }
                        }
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0"></h6>
                                <small class="text-muted">@tripitemshoppingcart.ma05trip.ma05name</small>
                            </div>
                            @if (influencerDiscount != null && tripitemshoppingcart.ma19SubTripItemShoppingCart.FirstOrDefault().ma14subtrip.ma14InfluencerDiscount)
                            {
                                <span class="text-muted">@ValueConvert.ConvertToReal(tripValue) (@influencerDiscount.ma38DiscountPercent% de Desconto do Cupom no Passeio)</span>
                            }
                            else
                            {
                                <span class="text-muted">@ValueConvert.ConvertToReal(tripValue) </span>
                            }

                        </li>
                        totalValue += tripValue;
                    }
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total (R$)</span>
                        <strong id="totalValueCart">@ValueConvert.ConvertToReal(totalValue)</strong>
                    </li>
                </ul>
            </div>
            <input id="totalValueInput" hidden readonly value="@totalValue" />
        </div>
    </div>
</div>

